.icon-airplane::before {
  content: "\2708"; /* Unicode for house icon */
}

.icon.airport::before {
  content: "\2708"; /* Unicode for house icon */
}

.icon-corporation::before {
  content: "\2708"; /* Unicode for house icon */
}

.icon-hospitality::before {
  content: "\2708"; /* Unicode for house icon */
}

.icon-travelsellers::before {
  content: "\2708"; /* Unicode for house icon */
}

.icon-support::before {
  content: "\2708"; /* Unicode for house icon */
}

.icon-training::before {
  content: "\2708"; /* Unicode for house icon */
}

.icon-network::before {
  content: "\2708"; /* Unicode for house icon */
}

.icon-partner::before {
  content: "\2708"; /* Unicode for house icon */
}

.icon-market::before {
  content: "\2708"; /* Unicode for house icon */
}

.icon-blog::before {
  content: "\2708"; /* Unicode for house icon */
}

.icon-center::before {
  content: "\2708"; /* Unicode for house icon */
}

.icon-about::before {
  content: "\2708"; /* Unicode for house icon */
}

.icon-innovation::before {
  content: "\2708"; /* Unicode for house icon */
}

.icon-news::before {
  content: "\2708"; /* Unicode for house icon */
}

.icon-good::before {
  content: "\2708"; /* Unicode for house icon */
}

.icon-career::before {
  content: "\2708"; /* Unicode for house icon */
}
