$background-image-url: '../../pics/main-background.png';

$colorbluenavy: #053473;
$colorwhite: #ffffff;
$colorclear: #E5EFFC;
$colorwhite1: #f9f9f9;
$padding: 14px 16px;
$boxshadowrgb: rgba(0,0,0,0.2);
$colorwhite2: #ffffff;
$padding1: 16px;
$colorborder: rgba(255, 255, 255, 0.4);
$colorblack:  #000835;
$colorwhite3: #ccc;
$colorblue: #007bff;
$colorblue1: #0056b3;
$cololightblue: #e6f7ff;